.pull-request-listing, .bolt-card.pull-request-listing {
	margin-bottom: 1em;
	overflow: visible;
	position: relative;

	section {
		div {
			margin-bottom: 1em;
		}
	}

	.open-pull-requests {
		/* stylelint-disable-next-line selector-class-pattern */
		.fabric-icon.ms-Icon--Refresh {
			position: absolute;
			top: .5em;
			right: .5em;
			font-size: 200%;
			cursor: pointer;
		}
	}

	.pr-status {
		border: 1px solid transparent;
		border-radius: 120px;
		display: inline;
		font-size: .9em;
		margin-right: .5em;
		white-space: nowrap;

		&.pr-status-active {
			background-color: rgb(0 120 212 / 100%);
			color: rgb(255 255 255 / 100%);
		}

		&.pr-status-draft {
			background-color: transparent;
			border: 1px solid rgb(0 90 158 / 100%);
			color: rgb(0 90 158 / 100%);
		}

		/* stylelint-disable-next-line no-descending-specificity */
		&>div {
			display: inline;
			margin: 0 .5rem;
			padding: 2px 0;
		}
	}

	span.creator {
		display: inline-block;

		&>img {
			border-radius: 16px;
			height: 16px;
		}
	}

	span.reviewer {
		display: inline-block;
		margin-right: 1em;

		/* stylelint-disable-next-line no-descending-specificity */
		&>img {
			border-radius: 16px;
			height: 16px;
		}
	}
}
