.pull-requests-stats, .bolt-card.pull-requests-stats {
	margin-bottom: 1em;
	overflow: visible;

	.bolt-card-content {
		display: block;
	}

	.stat-blocks {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(2, 45vw);
		min-height: 95vh;
	}

	.more-link:hover {
		cursor: pointer;
	}

	.stat-listing {
		&>div {
			padding-bottom: .5em;
		}
	}

	.user-listing {
		&>div {
			display: grid;
			grid-template-columns: 35px auto;

			div>span:nth-child(2)::before {
				content: ' = ';
			}
		}

		img {
			border-radius: 14px;
			height: 28px;
			width: 28px;
		}
	}
}
