.pull-request-listing, .bolt-card.pull-request-listing {
	margin-bottom: 1em;
	overflow: visible;

	section {
		div {
			margin-bottom: 1em;
		}
	}

	.pr-status {
		border: 1px solid transparent;
		border-radius: 120px;
		display: inline;
		font-size: .9em;
		margin-right: .5em;
		white-space: nowrap;

		&.pr-status-active {
			background-color: rgba(0, 120, 212, 1);
			color: rgba(255, 255, 255, 1);
		}
		&.pr-status-draft {
			background-color: transparent;
			border: 1px solid rgba(0, 90, 158, 1);
			color: rgba(0, 90, 158, 1);
		}
		&>div {
			display: inline;
			margin: 0 .5rem;
			padding: 2px 0;
		}
	}

	span.reviewer {
		margin-right: 1em;

		&>svg {
			fill: currentColor;

			&.vote-0 {
				color: rgba(102, 102, 102, 1);
			}
			&.vote-5 {
				color: rgba(85, 163, 98, 1);
			}
			&.vote-10 {
				color: rgba(85, 163, 98, 1);
			}
			&.vote--5 {
				color: rgba(214, 127, 60, 1);
			}
			&.vote--10 {
				color: rgba(205, 74, 69, 1);
			}
		}

		&>img {
			height: 16px;
		}
	}
}
