.pull-requests-stats, .bolt-card.pull-requests-stats {
	margin-bottom: 1em;
	overflow: visible;

	img {
		height: 16px;;
	}

	.stat-blocks {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(2, 45vw);
	}
}
