section.pull-requests {
	height: 90vh;
	overflow-x: auto;

	div {
		margin-bottom: 1em;
	}

	span.creator {
		display: inline-block;

		&>img {
			height: 16px;
		}
	}

	.pr-status {
		border: 1px solid transparent;
		border-radius: 120px;
		display: inline;
		font-size: .9em;
		margin-right: .5em;
		white-space: nowrap;

		&.pr-status-abandoned {
			background-color: rgba(214, 127, 60, 1);
			color: rgba(255, 255, 255, 1);
		}
		&.pr-status-completed {
			background-color: rgba(85, 163, 98, 1);
			color: rgba(255, 255, 255, 1);
		}
		&>div {
			display: inline;
			margin: 0 .5rem;
			padding: 2px 0;
		}
	}

	span.reviewer {
		display: inline-block;
		margin-right: .5em;

		&>img {
			height: 16px;
		}
	}
}
