section.pull-requests {
	height: 90vh;
	overflow-x: auto;

	div {
		margin-bottom: 1em;
	}

	span.creator {
		display: inline-block;

		&>img {
			border-radius: 16px;
			height: 16px;
		}
	}

	.pr-status {
		border: 1px solid transparent;
		border-radius: 120px;
		display: inline;
		font-size: .9em;
		margin-right: .5em;
		white-space: nowrap;

		&.pr-status-abandoned {
			background-color: rgb(214 127 60 / 100%);
			color: rgb(255 255 255 / 100%);
		}

		&.pr-status-completed {
			background-color: rgb(85 163 98 / 100%);
			color: rgb(255 255 255 / 100%);
		}

		&>div {
			display: inline;
			margin: 0 .5rem;
			padding: 2px 0;
		}
	}

	span.reviewer {
		display: inline-block;
		margin-right: .5em;

		&>img {
			border-radius: 16px;
			height: 16px;
		}
	}
}
