svg {
	fill: currentcolor;

	&.vote-0 {
		color: rgb(102 102 102 / 100%);
	}

	&.vote-5 {
		color: rgb(85 163 98 / 100%);
	}

	&.vote-10 {
		color: rgb(85 163 98 / 100%);
	}

	/* stylelint-disable-next-line selector-class-pattern */
	&.vote--5 {
		color: rgb(214 127 60 / 100%);
	}

	/* stylelint-disable-next-line selector-class-pattern */
	&.vote--10 {
		color: rgb(205 74 69 / 100%);
	}
}
